@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;600;700&display=swap');
$body-font-family: "Baloo Bhaina 2";
$title-font: "Teko";
$bug: #a8b820;
$dark: #705848;
$dragon: #7038f8;
$electric: #f8d030;
$fairy: #ee99ac;
$fighting: #c03028;
$fire: #f08030;
$flying: #a890f0;
$ghost: #705898;
$grass: #78c850;
$ground: #e0c068;
$ice: #98d8d8;
$normal: #a8a878;
$poison: #a040a0;
$psychic: #f85888;
$rock: #b8a038;
$steel: #b8b8d0;
$water: #6890f0;
$unknown: #68a090;

$light-bug: #a8b820;
$light-dark: #705848;
$light-dragon: #7038f8;
$light-electric: #f8d030;
$light-fairy: #ee99ac;
$light-fighting: #c03028;
$light-fire: #f08030;
$light-flying: #a890f0;
$light-ghost: #705898;
$light-grass: #78c850;
$light-ground: #e0c068;
$light-ice: #98d8d8;
$light-normal: #a8a878;
$light-poison: #a040a0;
$light-psychic: #f85888;
$light-rock: #b8a038;
$light-steel: #b8b8d0;
$light-water: #6890f0;
$light-unknown: #68a090;

div#app {
    background: url('../images/bg-tranparent.png') no-repeat;
    background-position: 50% 0%;
    font-family: 'Titillium Web', sans-serif;
}
.txt-search .v-input__slot {
    background: #ffffffa8 !important;
}
.poke__card {
    position: relative;
}
.poke__card-id {
    font-size: 15px;
    font-weight: 700;
}
.poke__card-img {
    display: block;
    position: absolute;
    top: -25px;
    font-size: 90px;
    height: 120%;
    width: 100%;
    right: 20px;
    text-align: right;
}

/** Type of Pokemon Color */
.bg-bug {
    background: $bug !important;
}
.bg-dark {
    background: $dark !important;
}
.bg-dragon {
    background: $dragon !important;
}
.bg-electric {
    background: $electric !important;
}
.bg-fairy {
    background: $fairy !important;
}
.bg-fighting {
    background: $fighting !important;
}
.bg-fire {
    background: $fire !important;
}
.bg-flying {
    background: $flying !important;
}
.bg-ghost {
    background: $flying !important;
}
.bg-grass {
    background: $grass !important;
}
.bg-ground {
    background: $ground !important;
}
.bg-ice {
    background: $ice !important;
}
.bg-normal {
    background: $normal !important;
}
.bg-poison {
    background: $poison !important;
}
.bg-psychic {
    background: $psychic !important;
}
.bg-rock {
    background: $rock !important;
}
.bg-steel {
    background: $steel !important;
}
.bg-water {
    background: $water !important;
}
.bg-unknown {
    background: $unknown !important;
}